body {
    

    .global {



        width: 100vw;
        height: 100vh;
        
        display: flex;
        align-items: center;
        

        .france {
            
            width: 20%;
            height: 200px;
            
            margin: 3%;
            display: flex;
            align-items: center;

            .bleu{
                background-color: blue;
                
                width: 50vw;
                height: 200px;
            }
            .blanc{
                background-color: white;
                width: 50vw;
                height: 200px;
            }
            .rouge{
                background-color: red;
                width: 50vw;
                height: 200px;
            }
        }
        .allemagne{
            width: 10%;
            height: 200px;
            background-color: aquamarine;
            margin-right: 10%;
           
            display: flex;
            flex-direction: column;
            
            
            .noir{
                background-color: black;
                
                width: 20vw;
                height: 200px; 
            }
            .rougeM{
                background-color: red;
                
                width: 20vw;
                height: 200px;
            }
            .jaune{
                background-color: yellow;
                
                width: 20vw;
                height: 200px;
            }

        
        }
        .canada{
            width: 20%;
            height: 200px;
            margin-left: 5%;
            
            display: flex;
            align-items: center;

            .rougeG{
                background-color: red;
                
                width: 30vw;
                height: 200px;
            }
            .blancM{
                background-color: white;
                width: 50vw;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                

                i{
                    font-size: 5em;
                    color: red;
                }
            }
            .rougeD{
                background-color: red;
                width: 30vw;
                height: 200px;
            }
        }
        .liban{
            width: 20%;
            height: 200px;
            margin-right: 5%;
            margin-left: 5%;
            
            display: flex;
            flex-direction: column;

            .rougeH{
                background-color: red;
                width: 20vw;
                height: 100px;
            }
            .blanc2{
                background-color: white;
                width: 20vw;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    font-size: 5em;
                    color: green;
                }
            }
            .rougeB{
                background-color: red;
                width: 20vw;
                height: 100px;
                
            }
        }
    }
}